<html>
 <body> 
<div class="icon-bar">
  <p>E(z)PAY</p>
  </div>
  <img class="menu"src="../assets/menu.jpg" alt="menu" height="50" width="50">
  <img class="pro" src="../assets/prof.png" alt="Profile" height="50" width="50">
   <img class="search" src="../assets/ser.jpg" alt="Search" height="50" width="50">

   <div class="gallery">
    <img src="../assets/acc.jpg" alt="ACCOUNT DETAILS" width="200" height="200">
    <div class="desc">ACCOUNT DETAILS</div>
  
  </div>
  <div class="gallery">
    <img src="../assets/bene.png"  alt="BENEFICIANRY" width="200" height="200">
    <div class="desc">BENEFICIANRY</div>
  </div>
  <div class="gallery"><button class="btn" (click)="billpayment()" target="_blank">
    <img src="../assets/bill.png" alt="BILL PAYMENT" width="200" height="200">
    <div class="desc">BILL PAYMENT</div></button>
  </div>

  <div class="gallery"><button class="btn" (click)="transaction()" target="-blank"><!--create button for redirect link--> 
    <img src="../assets/trans.png" alt="TRANSACTION" width="200" height="200">
    <div class="desc">TRANSACTION</div></button>
  </div>
  <br><br>
  <br>
  <div class="gallery"><button class="btn" (click)="wallet()" target="_blank">
    <img src="../assets/wal.png" alt="WALLET" width="200" height="200">
    <div class="desc">WALLET</div></button>
  </div>
</body>

<router-outlet></router-outlet>

</html>
<!--app-nav-bar></app-nav-bar>-->
